.Shimmer {
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;

  -moz-webkit-animation-duration: 1.3s;
  -moz-webkit-animation-fill-mode: forwards;
  -moz-webkit-animation-iteration-count: infinite;
  -moz-webkit-animation-name: placeholderShimmer;
  -moz-webkit-animation-timing-function: linear;

  -ms-webkit-animation-duration: 1.3s;
  -ms-webkit-animation-fill-mode: forwards;
  -ms-webkit-animation-iteration-count: infinite;
  -ms-webkit-animation-name: placeholderShimmer;
  -ms-webkit-animation-timing-function: linear;

  -o-webkit-animation-duration: 1.3s;
  -o-webkit-animation-fill-mode: forwards;
  -o-webkit-animation-iteration-count: infinite;
  -o-webkit-animation-name: placeholderShimmer;
  -o-webkit-animation-timing-function: linear;

  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}


@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -400px 0;
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    background-position: 400px 0;
    opacity: 1;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -400px 0;
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    background-position: 400px 0;
    opacity: 1;
  }
}